# Exceptions: Do not ignore these files
!.gitignore
!*.json
!*.txt

# IDE/editor directories and files
.vscode/
.idea/
.vs/
*.code-workspace

# Build directories, caches, and temporary files
.cache/
cache/
cache*
.pybuilder/
.pytype/
.ruff_cache/
cython_debug/
temp/
temp*
*.*~
*~

# Log files and directories
logs/
*.log
*.log.*

# Python build artifacts
__pycache__/
*.py[cod]
*$py.class

# Python virtual environment directories and environment files
.env
.env.*
*.env
*.[eE][nN][vV]*
.venv/
venv/
env/
ENV/

# Unit test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# LaTeX intermediate files
*.aux
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.out
*.toc
*.synctex.gz
*.log

# Build outputs
*.pdf

# OS files
.DS_Store

# Project-specific files and directories
/data/
/technical_refs/
 /research/
target/
runs/
tensorflow_code/
