# Exceptions: Do not ignore these files
!.gitignore
!*.json

# Generated Presentation Files
/presentation/
!/presentation/*.ipynb
# proj files
/data
/technical_refs
!/research/presentation/*.pdf
/research

# file sys
.vscode/
*.code-workspace

# Build directories, caches, and temporary files
.cache/
cache/
cache*
.ruff_cache/
*.egg-info/

# Log files and directories
logs/
*.log
*.log.*

# Python build artifacts
__pycache__/
*.py[cod]

# Python virtual environment directories and environment files
.env
*.[eE][nN][vV]*
.venv/
venv/
env/
ENV/

# Unit test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# LaTeX intermediate files
*.aux
*.blg
*.fls
*.fdb_latexmk
*.out
*.toc
*.synctex.gz
*.log

# Build outputs
paper/*.pdf

# OS files
.DS_Store

# Project-specific files and directories
target/
runs/
tensorflow_code/
